body {
	background-image: url(../images/mountains1.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	margin-right: 15%;
	margin-left: 15%;
	margin-top: 0%;
	margin-bottom: 0%;
	color: LightGray;
}

* {
	font-family: Georgia;
}

p {
	text-align: justify;
	font-size: 18px;
}

li {
	text-align: justify;
	font-size: 18px;
	list-style-type: square;
}

a:link {
	text-decoration: underline;
	color: LightGray;
}

a:visited {
	text-decoration: underline;
	color: CornflowerBlue;
}

a:hover {
	text-decoration: none;
	background-color: LightGray;
	color: black;
}

a:active {
	text-decoration: underline;
	background-color: LightGray;
	color: black;
}

.backdrop {
	height: auto;
	max-height: auto;
	width: 80%;
	background-color: black;
	padding: 5%;
}

.nav {
	list-style-type: none;
	margin: -.1em;
	padding: .2em;
	display: inline-block;
	border-style: solid;
	border-width: thin;
	border-color: LightGray;
	text-align: center;
}

.header {
	text-align: justify;
	align-content: justify;
	border-bottom: solid thin LightGray;
}